<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
	<div class="payment-method-title field choice">
		<input
			type="radio"
			name="payment[method]"
			class="radio"
			data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible(), afterRender: setupPaymentMethod"
		>
		<label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
	</div>
	<div class="payment-method-content">
		<!-- ko foreach: getRegion('messages') -->
		<!-- ko template: getTemplate() -->
		<!-- /ko -->
		<!--/ko-->
		<div class="payment-method-billing-address">
			<!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
			<!-- ko template: getTemplate() -->
			<!-- /ko -->
			<!--/ko-->
		</div>

		<!-- Account Type -->
		<div class="sdc-row">
			<div id="sdc-account-type-frame" class="sdc-field-frame sdc-text">
				<div id="fiserv_ach-account-type" class="sdc-field"></div>
			</div>
			<span id="sdc-account-type-invalid-message" class="sdc-error-message sdc-hidden">Invalid Account Type</span>
		</div>

		<!-- Check Type -->
		<div class="sdc-row">
			<div id="sdc-check-type-frame" class="sdc-field-frame sdc-text">
				<div id="fiserv_ach-check-type" class="sdc-field"></div>
			</div>
			<span id="sdc-check-type-invalid-message" class="sdc-error-message sdc-hidden">Invalid Check Type</span>
		</div>

		<!-- Business Name -->
		<div class="sdc-row" id="sdc-business-name-row">
			<div id="sdc-business-name-frame" class="sdc-field-frame sdc-text">
				<div id="fiserv_ach-business-name" class="sdc-field"></div>
			</div>
			<span id="sdc-business-name-invalid-message" class="sdc-error-message sdc-hidden">Invalid Business Name</span>
		</div>

		<!-- Account Number -->
		<div class="sdc-row">
			<div id="sdc-account-number-frame" class="sdc-field-frame sdc-text">
				<div id="fiserv_ach-account-number" class="sdc-field"></div>
				<!-- ko if: (checkAccountNumberMask())-->
				<button
					id="sdc-unmask-account"
					class="sdc-unmasking-icon"
					data-bind="click: unmaskAccountNumber"
				>
				</button>
				<!-- /ko -->
				<button
					id="sdc-mask-account"
					class="sdc-masking-icon sdc-hidden"
					data-bind="click: maskAccountNumber"
				>
				</button>
			</div>
			<span id="sdc-account-number-invalid-message" class="sdc-error-message sdc-hidden">Invalid Account Number</span>
		</div>

		<!-- Routing Number -->
		<div class="sdc-row">
			<div id="sdc-routing-number-frame" class="sdc-field-frame sdc-text">
				<div id="fiserv_ach-routing-number" class="sdc-field"></div>
				<!-- ko if: (checkRoutingNumberMask())-->
				<button
					id="sdc-unmask-routing"
					class="sdc-unmasking-icon"
					data-bind="click: unmaskRoutingNumber"
				>
				</button>
				<!-- /ko -->
				<button
					id="sdc-mask-routing"
					class="sdc-masking-icon sdc-hidden"
					data-bind="click: maskRoutingNumber"
				>
				</button>
			</div>
			<span id="sdc-routing-number-invalid-message" class="sdc-error-message sdc-hidden">Invalid Routing Number</span>
		</div>

		<!-- ID Type -->
		<div class="sdc-row">
			<div id="sdc-id-type-frame" class="sdc-field-frame sdc-text">
				<div id="fiserv_ach-id-type" class="sdc-field"></div>
			</div>
			<span id="sdc-id-type-invalid-message" class="sdc-error-message sdc-hidden">Invalid Identification Type</span>
		</div>

		<!-- Driver License State -->
		<div class="sdc-row" id="sdc-dl-state-row">
			<div id="sdc-dl-state-frame" class="sdc-field-frame sdc-text">
				<div id="fiserv_ach-driver-license-state" class="sdc-field"></div>
			</div>
			<span id="sdc-dl-state-invalid-message" class="sdc-error-message sdc-hidden">Invalid Driver License State</span>
		</div>

		<!-- ID Value -->
		<div class="sdc-row">
			<div id="sdc-id-value-frame" class="sdc-field-frame sdc-text">
				<div
					id="fiserv_ach-id-value"
					class="sdc-field"
					data-bind="afterRender: loadSdcForm"
				></div>
			</div>
			<span id="sdc-id-value-invalid-message" class="sdc-error-message sdc-hidden">Invalid Identification Value</span>
		</div>

		<div class="checkout-agreements-block">
			<!-- ko foreach: $parent.getRegion('before-place-order') -->
			<!-- ko template: getTemplate() -->
			<!-- /ko -->
			<!--/ko-->
		</div>

		<div class="actions-toolbar">
			<div class="primary">
				<button
					class="action primary checkout"
					type="submit"
					data-bind="click: submitIframe"
					id="fiserv-ach-checkout-submit"
					disabled="true"
				>
					<span translate="'Place Order'"></span>
				</button>
			</div>
		</div>

		<div class="privacyPolicy">
			<span></span>Payments Powered by Fiserv.&nbsp; <a target="_blank" href="http://www.fiserv.com/privacy">Privacy Notice</a>.
		</div>

	</div>
</div>
