.carat_img > .entry-edit-head {
	background: url("../images/fiserv_logo_orange_rgb.png") no-repeat scroll 0 50% / 12rem auto;
	padding-left: 14rem;
	margin-top: 12px;
	margin-bottom: 12px;

}
#fiserv-card-logos {
	background: url("../images/cardlogos.png") no-repeat scroll 0 50% / 75rem auto;
	height: 75px;
	margin: 0.5rem 0 0;
}

#failed-transaction-container {
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
}

#failed-transaction-container .three-col {
	width: 60%;
	padding: 0 2.5rem;
}

#failed-transaction-container .two-col {
	width: 40%;
	padding: 0 2.5rem;
}

.failed-transaction-section-body {
	border: 1px solid black;
	padding: 2rem 3rem;
    display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.failed-transaction-section {
	margin-bottom: 3rem;
}

.failed-transaction-detail {
	margin-bottom: 2rem;
    flex: 0 1 calc(33% - 1.5rem);
	display: block;
	width: fit-content;
}

.failed-transaction-detail-value {
	color: #777;
}

.failed-transaction-section-header{
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: .75rem;
}
