<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Checkout\Model\CompositeConfigProvider">
		<arguments>
			<argument name="configProviders" xsi:type="array">
				<item name="fiserv_payments_config_provider" xsi:type="object">Fiserv\Payments\Model\Config\ConfigProvider</item>
				<item name="fiserv_commercehub_config_provider" xsi:type="object">Fiserv\Payments\Model\Config\CommerceHub\ConfigProvider</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Payment\Model\CcGenericConfigProvider">
		<arguments>
			<argument name="methodCodes" xsi:type="array">
				<item name="fiserv_commercehub" xsi:type="const">Fiserv\Payments\Model\Config\CommerceHub\ConfigProvider::CODE</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Vault\Model\Ui\TokensConfigProvider">
		<arguments>
			<argument name="tokenUiComponentProviders" xsi:type="array">
				<item name="fiserv_commercehub" xsi:type="object">Fiserv\Payments\Model\Ui\CommerceHub\TokenUiComponentProvider</item>
			</argument>
		</arguments>
	</type>
</config>
