<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Vault\Model\Ui\Adminhtml\TokensConfigProvider" type="Fiserv\Payments\Model\Ui\Adminhtml\CommerceHub\TokensConfigProvider" />
	
	<type name="Magento\Vault\Model\Ui\Adminhtml\TokensConfigProvider">
		<arguments>
			<argument name="tokenUiComponentProviders" xsi:type="array">
				<item name="fiserv_commercehub" xsi:type="object">Fiserv\Payments\Model\Ui\Adminhtml\CommerceHub\TokenUiComponentProvider</item>
			</argument>
		</arguments>
	</type>

    <type name="Fiserv\Payments\Model\Source\CommerceHub\ApiEnvironment">
        <arguments>
            <argument name="devMode" xsi:type="object">Fiserv\Payments\Helper\DevMode</argument>
        </arguments>
    </type>
</config>
