<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment">
			<group id="fiserv_payments" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Carat from Fiserv Payments</label>
				<fieldset_css>carat_img card_logos</fieldset_css>
				<attribute type="expanded">1</attribute>
				<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
				<comment><![CDATA[<div>Carat is the global commerce platform from Fiserv that orchestrates payments and experiences for the world's largest businesses. Commerce Hub is Fiserv's modernized payment technology stack that facilitates the enablement of payments and value added services for omnicommerce. A connection to Commerce Hub will afford any merchant a single solution to meet their growing commerce needs.<br><a href="https://developer.fiserv.com">Please follow this link to documentation for Fiserv's in-house built Adobe Commerce extension.</a></div><div id="fiserv-card-logos"></div>]]></comment>

				<!-- CommerceHub Gateway Settings -->
				<group id="fiserv_commercehub" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
					<label>Commerce Hub Gateway General Settings</label>
					<attribute type="expanded">0</attribute>
					<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
					<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Enable Fiserv Commerce Hub Gateway</label>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<config_path>payment/fiserv_commercehub/active</config_path>
					</field>
					<field id="merchant_id" translate="label" type="obscure" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Merchant ID</label>
						<backend_model>Fiserv\Payments\Model\System\Config\Backend\CommerceHub\Encrypted</backend_model>
						<config_path>payment/fiserv_commercehub/merchant_id</config_path>
					</field>
					<field id="terminal_id" translate="label" type="obscure" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Terminal ID</label>
						<backend_model>Fiserv\Payments\Model\System\Config\Backend\CommerceHub\Encrypted</backend_model>
						<config_path>payment/fiserv_commercehub/terminal_id</config_path>
					</field>

					<field id="api_key" translate="label" type="obscure" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>API Key</label>
						<backend_model>Fiserv\Payments\Model\System\Config\Backend\CommerceHub\Encrypted</backend_model>
						<config_path>payment/fiserv_commercehub/api_key</config_path>
					</field>					
					<field id="api_secret" translate="label" type="obscure" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>API Secret</label>
						<backend_model>Fiserv\Payments\Model\System\Config\Backend\CommerceHub\Encrypted</backend_model>
						<config_path>payment/fiserv_commercehub/api_secret</config_path>
					</field>
					<field id="api_environment" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>API Environment</label>
						<source_model>Fiserv\Payments\Model\Source\CommerceHub\ApiEnvironment</source_model>
						<config_path>payment/fiserv_commercehub/api_environment</config_path>
					</field>
					<field id="debug" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Debug</label>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<config_path>payment/fiserv_commercehub/debug</config_path>
					</field>
				</group>
				<group id="payment_settings" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
					<label>Payment Acceptance Settings</label>
					<attribute type="expanded">0</attribute>
					<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
					<field id="payment_action" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Charge Type</label>
						<source_model>Fiserv\Payments\Model\Source\CommerceHub\TransactionType</source_model>
						<config_path>payment/fiserv_commercehub/payment_action</config_path>
					</field>
					<!-- Removed pending CommerceHub availability PI9 -->
					<!-- <field id="cctypes" translate="label" type="multiselect" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Credit Card Types</label>
						<source_model>Fiserv\Payments\Model\Source\CommerceHub\CcType</source_model>
						<config_path>payment/fiserv_commercehub/cctypes</config_path>
					</field> -->
					<field id="currency" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Accepted Currency</label>
						<source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
						<config_path>payment/fiserv_commercehub/currency</config_path>
						<frontend_model>Fiserv\Payments\Model\Source\CommerceHub\Disable</frontend_model>
						<comment>This version supports USD only. Additional currencies will be added in the future.</comment>
					</field> 
					<field id="allowspecific" translate="label" type="allowspecific" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Accept Payments From All Countries</label>
						<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
						<config_path>payment/fiserv_commercehub/allowspecific</config_path>
					</field>
					<field id="specificcountry" translate="label" type="multiselect" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Accept Payments From Select Countries</label>
						<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
						<validate>validate-no-empty</validate>
						<config_path>payment/fiserv_commercehub/specificcountry</config_path>	
					</field>
				</group>
				<group id="credit_debit_cards" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
					<label>Credit/Debit Cards</label>
					<attribute type="expanded">0</attribute>
					<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
					<field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Payment Method Title</label>
						<config_path>payment/fiserv_commercehub/title</config_path>
					</field>
					<field id="tokenization" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Allow Customers To Store (Tokenize) Payment Methods</label>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<config_path>payment/fiserv_commercehub_vault/active</config_path>
					</field>
					<field id="standalone_spa" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Allow Customers To Manage Stored Payment Methods</label>
						<depends>
							<field id="tokenization">1</field>
						</depends>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<config_path>payment/fiserv_commercehub/standalone_spa</config_path>
					</field>
				</group>
				<group id="valuelink_gift_card" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
					<label>Valuelink Gift Cards</label>
					<attribute type="expanded">0</attribute>
					<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
					<field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Payment Method Title</label>
						<config_path>payment/fiserv_commercehub/valuelink_title</config_path>
					</field>
					<field id="valuelink" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Enable Valuelink Gift Cards</label>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<config_path>payment/fiserv_commercehub/use_valuelink</config_path>
						<comment>Valuelink is a gift card solution native to Fiserv. Choose Yes to enable Valuelink as a payment method or leave No to disable Valuelink.</comment>
					</field>
				</group>
				<group id="sdc_custom" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="16">
					<label>Payment Form Customization</label>
					<comment><![CDATA[<a href="https://developer.fiserv.com/product/CommerceHub/docs/?path=docs/Online-Mobile-Digital/Secure-Data-Capture/iFrame-JS/iFrame-Customization.md&branch=main">Payment Form Customization Documentation.</a>]]></comment>
					<attribute type="expanded">0</attribute>
					<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>

					<group id="customer_form_custom" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1">
						<label>Customer Checkout Payment Form</label>
						<comment>Customer checkout payment form</comment>
						<attribute type="expanded">0</attribute>
						<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
						<group id="customer_card_number" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1">
							<label>Card Number Field</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="customer_card_number_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_card_number_placeholder</config_path>
							</field>
							<field id="customer_card_number_placeholder_character" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder Character</label>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_card_number_placeholder_character</config_path>
							</field>
							<field id="customer_card_number_formatting" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Format Card Number</label>
								<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_card_number_number_formatting</config_path>
							</field>
							<field id="customer_card_number_masking" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Mask Card Number</label>
								<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_card_number_masking</config_path>
							</field>
							<field id="customer_card_number_masking_character" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Masking Character</label>
								<depends>
									<field id="customer_card_number_masking">1</field>
								</depends>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_card_number_masking_character</config_path>
							</field>
							<field id="customer_card_number_masking_mode" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Mask Mode</label>
								<depends>
									<field id="customer_card_number_masking">1</field>
								</depends>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingMode</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_card_number_masking_mode</config_path>
							</field>
							<field id="customer_card_number_masking_length" translate="label" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
								<validate>integer</validate>
								<label>Mask Length</label>
								<depends>
									<field id="customer_card_number_masking">1</field>
								</depends>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_card_number_masking_length</config_path>
							</field>
							<field id="customer_card_number_invalid" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Invalid Field Message</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_card_number_invalid_message</config_path>
							</field>
						</group>

						<group id="customer_name_on_card" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="2">
							<label>Name on Card Field</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="customer_name_on_card_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_name_on_card_placeholder</config_path>
							</field>
							<field id="customer_name_on_card_invalid" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Invalid Field Message</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_name_on_card_invalid_message</config_path>
							</field>
						</group>

						<group id="customer_security_code" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="3">
							<label>Security Code Field</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="customer_security_code_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_security_code_placeholder</config_path>
							</field>
							<field id="customer_security_code_placeholder_character" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder Character</label>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_security_code_placeholder_character</config_path>
							</field>
							<field id="customer_security_code_masking" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Mask Security Code</label>
								<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_security_code_masking</config_path>
							</field>
							<field id="customer_security_code_masking_character" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Masking Character</label>
								<depends>
									<field id="customer_security_code_masking">1</field>
								</depends>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_security_code_masking_character</config_path>
							</field>
							<field id="customer_security_code_masking_mode" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Mask Length</label>
								<depends>
									<field id="customer_security_code_masking">1</field>
								</depends>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingModeCvv</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_security_code_masking_mode</config_path>
							</field>
							<field id="customer_security_code_invalid" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Invalid Field Message</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_security_code_invalid_message</config_path>
							</field>
						</group>

						<group id="customer_expiration_month" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="4">
							<label>Expiration Month Field</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="customer_expiration_month_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_expiration_month_placeholder</config_path>
							</field>
							<field id="customer_expiration_month_option_labels" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Option Labels</label>
								<backend_model>Fiserv\Payments\Model\System\Config\Backend\CommerceHub\CssJson</backend_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_expiration_month_option_labels</config_path>
							</field>
							<field id="customer_expiration_month_invalid" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Invalid Field Message</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_expiration_month_invalid_message</config_path>
							</field>
						</group>

						<group id="customer_expiration_year" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
							<label>Expiration Year Field</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="customer_expiration_year_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_expiration_year_placeholder</config_path>
							</field>
							<field id="customer_expiration_year_invalid" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Invalid Field Message</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_expiration_year_invalid_message</config_path>
							</field>
						</group>
						
						<group id="customer_css" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="6">
							<label>Form CSS</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="customer_css" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Checkout Form CSS</label>
								<backend_model>Fiserv\Payments\Model\System\Config\Backend\CommerceHub\CssJson</backend_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_css</config_path>
							</field>
						</group>

						<group id="customer_font" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="7">
							<label>Custom Font</label>
							<comment>All fields are required to apply a custom font to the payment form.</comment>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="customer_font_data" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Font Data</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_font_data</config_path>
							</field>
							<field id="customer_font_family" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Font Family</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_font_family</config_path>
							</field>
							<field id="customer_font_format" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Font Format</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_font_format</config_path>
							</field>
							<field id="customer_font_integrity" translate="label" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Integrity</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_checkout_font_integrity</config_path>
							</field>
						</group>
					</group>
					
					<group id="admin_form_custom" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="2">
						<label>Admin Order Payment Form</label>
						<comment>Admin Panel order creation checkout payment form</comment>
						<attribute type="expanded">0</attribute>
						<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
						<group id="admin_card_number" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1">
							<label>Card Number Field</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="admin_card_number_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_card_number_placeholder</config_path>
							</field>
							<field id="admin_card_number_placeholder_character" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder Character</label>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_card_number_placeholder_character</config_path>
							</field>
							<field id="admin_card_number_formatting" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Format Card Number</label>
								<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_card_number_number_formatting</config_path>
							</field>
							<field id="admin_card_number_masking" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Mask Card Number</label>
								<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_card_number_masking</config_path>
							</field>
							<field id="admin_card_number_masking_character" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Masking Character</label>
								<depends>
									<field id="admin_card_number_masking">1</field>
								</depends>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_card_number_masking_character</config_path>
							</field>
							<field id="admin_card_number_masking_mode" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Mask Mode</label>
								<depends>
									<field id="admin_card_number_masking">1</field>
								</depends>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingMode</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_card_number_masking_mode</config_path>
							</field>
							<field id="admin_card_number_masking_length" translate="label" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
								<validate>integer</validate>
								<label>Mask Length</label>
								<depends>
									<field id="admin_card_number_masking">1</field>
								</depends>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_card_number_masking_length</config_path>
							</field>
							<field id="admin_card_number_invalid" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Invalid Field Message</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_card_number_invalid_message</config_path>
							</field>
						</group>

						<group id="admin_name_on_card" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="2">
							<label>Name on Card Field</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="admin_name_on_card_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_name_on_card_placeholder</config_path>
							</field>
							<field id="admin_name_on_card_invalid" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Invalid Field Message</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_name_on_card_invalid_message</config_path>
							</field>
						</group>

						<group id="admin_security_code" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="3">
							<label>Security Code Field</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="admin_security_code_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_security_code_placeholder</config_path>
							</field>
							<field id="admin_security_code_placeholder_character" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder Character</label>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_security_code_placeholder_character</config_path>
							</field>
							<field id="admin_security_code_masking" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Mask Security Code</label>
								<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_security_code_masking</config_path>
							</field>
							<field id="admin_security_code_masking_character" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Masking Character</label>
								<depends>
									<field id="admin_security_code_masking">1</field>
								</depends>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_security_code_masking_character</config_path>
							</field>
							<field id="admin_security_code_masking_mode" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Mask Length</label>
								<depends>
									<field id="admin_security_code_masking">1</field>
								</depends>
								<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingModeCvv</source_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_security_code_masking_mode</config_path>
							</field>
							<field id="admin_security_code_invalid" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Invalid Field Message</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_security_code_invalid_message</config_path>
							</field>
						</group>

						<group id="admin_expiration_month" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="4">
							<label>Expiration Month Field</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="admin_expiration_month_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_expiration_month_placeholder</config_path>
							</field>
							<field id="admin_expiration_month_option_labels" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Option Labels</label>
								<backend_model>Fiserv\Payments\Model\System\Config\Backend\CommerceHub\CssJson</backend_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_expiration_month_option_labels</config_path>
							</field>
							<field id="admin_expiration_month_invalid" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Invalid Field Message</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_expiration_month_invalid_message</config_path>
							</field>
						</group>

						<group id="admin_expiration_year" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
							<label>Expiration Year Field</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="admin_expiration_year_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Placeholder</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_expiration_year_placeholder</config_path>
							</field>
							<field id="admin_expiration_year_invalid" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Invalid Field Message</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_expiration_year_invalid_message</config_path>
							</field>
						</group>
						
						<group id="admin_css" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="6">
							<label>Form CSS</label>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="admin_css" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Admin Order Form CSS</label>
								<backend_model>Fiserv\Payments\Model\System\Config\Backend\CommerceHub\CssJson</backend_model>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_css</config_path>
							</field>
						</group>

						<group id="admin_font" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="7">
							<label>Custom Font</label>
							<comment>All fields are required to apply a custom font to the payment form.</comment>
							<attribute type="expanded">0</attribute>
							<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<field id="admin_font_data" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Font Data</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_font_data</config_path>
							</field>
							<field id="admin_font_family" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Font Family</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_font_family</config_path>
							</field>
							<field id="admin_font_format" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Font Format</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_font_format</config_path>
							</field>
							<field id="admin_font_integrity" translate="label" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
								<label>Integrity</label>
								<config_path>payment/fiserv_commercehub/sdc_custom_admin_font_integrity</config_path>
							</field>
						</group>
					</group>

					<group id="token_form_custom" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="3">
						<label>Tokenization Form</label>
						<comment>Stored payment account creation form</comment>
						<attribute type="expanded">0</attribute>
						<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
							<group id="token_card_number" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1">
								<label>Card Number Field</label>
								<attribute type="expanded">0</attribute>
								<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
								<field id="token_card_number_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Placeholder</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_card_number_placeholder</config_path>
								</field>
								<field id="token_card_number_placeholder_character" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Placeholder Character</label>
									<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_card_number_placeholder_character</config_path>
								</field>
								<field id="token_card_number_formatting" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Format Card Number</label>
									<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_card_number_number_formatting</config_path>
								</field>
								<field id="token_card_number_masking" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Mask Card Number</label>
									<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_card_number_masking</config_path>
								</field>
								<field id="token_card_number_masking_character" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Masking Character</label>
									<depends>
										<field id="token_card_number_masking">1</field>
									</depends>
									<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_card_number_masking_character</config_path>
								</field>
								<field id="token_card_number_masking_mode" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Mask Mode</label>
									<depends>
										<field id="token_card_number_masking">1</field>
									</depends>
									<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingMode</source_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_card_number_masking_mode</config_path>
								</field>
								<field id="token_card_number_masking_length" translate="label" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
									<validate>integer</validate>
									<label>Mask Length</label>
									<depends>
										<field id="token_card_number_masking">1</field>
									</depends>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_card_number_masking_length</config_path>
								</field>
								<field id="token_card_number_invalid" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Invalid Field Message</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_card_number_invalid_message</config_path>
								</field>
							</group>

							<group id="token_name_on_card" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="2">
								<label>Name on Card Field</label>
								<attribute type="expanded">0</attribute>
								<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
								<field id="token_name_on_card_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Placeholder</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_name_on_card_placeholder</config_path>
								</field>
								<field id="token_name_on_card_invalid" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Invalid Field Message</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_name_on_card_invalid_message</config_path>
								</field>
							</group>

							<group id="token_security_code" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="3">
								<label>Security Code Field</label>
								<attribute type="expanded">0</attribute>
								<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
								<field id="token_security_code_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Placeholder</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_security_code_placeholder</config_path>
								</field>
								<field id="token_security_code_placeholder_character" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Placeholder Character</label>
									<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_security_code_placeholder_character</config_path>
								</field>
								<field id="token_security_code_masking" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Mask Security Code</label>
									<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_security_code_masking</config_path>
								</field>
								<field id="token_security_code_masking_character" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Masking Character</label>
									<depends>
										<field id="token_security_code_masking">1</field>
									</depends>
									<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingCharacter</source_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_security_code_masking_character</config_path>
								</field>
								<field id="token_security_code_masking_mode" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Mask Length</label>
									<depends>
										<field id="token_security_code_masking">1</field>
									</depends>
									<source_model>Fiserv\Payments\Model\Source\CommerceHub\MaskingModeCvv</source_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_security_code_masking_mode</config_path>
								</field>
								<field id="token_security_code_invalid" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Invalid Field Message</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_security_code_invalid_message</config_path>
								</field>
							</group>

							<group id="token_expiration_month" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="4">
								<label>Expiration Month Field</label>
								<attribute type="expanded">0</attribute>
								<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
								<field id="token_expiration_month_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Placeholder</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_expiration_month_placeholder</config_path>
								</field>
								<field id="token_expiration_month_option_labels" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Option Labels</label>
									<backend_model>Fiserv\Payments\Model\System\Config\Backend\CommerceHub\CssJson</backend_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_expiration_month_option_labels</config_path>
								</field>
								<field id="token_expiration_month_invalid" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Invalid Field Message</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_expiration_month_invalid_message</config_path>
								</field>
							</group>

							<group id="token_expiration_year" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
								<label>Expiration Year Field</label>
								<attribute type="expanded">0</attribute>
								<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
								<field id="token_expiration_year_placeholder" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Placeholder</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_expiration_year_placeholder</config_path>
								</field>
								<field id="token_expiration_year_invalid" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Invalid Field Message</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_expiration_year_invalid_message</config_path>
								</field>
							</group>
							
							<group id="token_css" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="6">
								<label>Form CSS</label>
								<attribute type="expanded">0</attribute>
								<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
								<field id="token_css" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Tokenization Form CSS</label>
									<backend_model>Fiserv\Payments\Model\System\Config\Backend\CommerceHub\CssJson</backend_model>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_css</config_path>
								</field>
							</group>

							<group id="token_font" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="7">
								<label>Custom Font</label>
								<comment>All fields are required to apply a custom font to the payment form.</comment>
								<attribute type="expanded">0</attribute>
								<frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
								<field id="token_font_data" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Font Data</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_font_data</config_path>
								</field>
								<field id="token_font_family" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Font Family</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_font_family</config_path>
								</field>
								<field id="token_font_format" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Font Format</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_font_format</config_path>
								</field>
								<field id="token_font_integrity" translate="label" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
									<label>Integrity</label>
									<config_path>payment/fiserv_commercehub/sdc_custom_token_font_integrity</config_path>
								</field>
							</group>
					</group>
				</group>
			</group>
		</section>
	</system>
</config>
