<!-- ko if: (!isCustomerLoggedIn())-->

<form id="paypal-payment-form">
	<h1>Fiserv-PayPal Fastlane</h1>
	<div class="rows">
		<section id="customer" class="paypal-section">
			<div class="header">
				<h2> Customer</h2></div>
			<div class="summary"></div>
			<div class="columns">
				<div>
					<div id="fiserv-email-input">
						<input id="email-input" class="paypal-input" name="email" type="email" placeholder="Email" autocomplete="email" value="">
					</div>
					<div id="fiserv-paypal-watermark-container"></div>
				</div>
				<button type="button" id="email-submit-button">Continue</button>
			</div>
		</section>
	</div>
</form>
<!--/ko-->
